<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel = "stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">DB4LOL</div>
        <ul class="nav-links">
            <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
            <li><a href="/build" class="<%= currentPage === 'build' ? 'active' : '' %>">Build</a></li>
            <li><a href="/stat" class="<%= currentPage === 'stat' ? 'active' : '' %>">Stat</a></li>
            <li><a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">About</a></li>
            <li><a href="https://www.leagueoflegends.com/en-us/news/tags/patch-notes/" target="_blank"><%= version %></a></li>
            <li><a href="https://github.com/Kevin4663" target="_blank">Github</a></li>
        </ul>
    </nav>
